
@font-face{
    font-family: "Roboto-Light";
    src: 
        url( "../fonts/roboto-light-webfont.woff2" ) format( "woff2"),
        url( "../fonts/roboto-light-webfont.woff" ) format( "woff");
}

@font-face{
    font-family: "Prime";
    src: 
        url( "../fonts/prime_light-webfont.woff2" ) format( "woff2"),
        url( "../fonts/prime_light-webfont.woff" ) format( "woff");
}

/* Todo tamanho de caixa é definido em relação às bordas
do elemento não em relação ao seu conteúdo*/
* {
    box-sizing: border-box;
}

html{ 
    font-size: 100%;
}

body{
    margin: 0;
    font-family: "Roboto-Light", Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    
}

main p {
    line-height: 150%;
    
}

h1{
    font-family: Prime, "Roboto-Light";
}

/* LOGO ACIMA DA BARRA DE NAVEGAÇÃO 
header{
    width: auto;
    height: auto;
    position: relative;
    border-bottom: 3px solid #be0000;
}/* */

/* LOGO AO LADO DA BARRA DE NAVEGAÇÃO */
header{
    height: 54px;
    padding: 0px 2%;
    /* border-top: 5px solid #56762B; */
    background-color: #be0000;
}/**/

header::after{
    content: "";
    display: block;
    clear: both;
}

header img{
    /* (Altura do header - altura da imagem) divido por 2 (top e bottom) */
    float: left;
    margin-top: 5px;
    margin-bottom: 6px;
}

/* LOGO ACIMA DA BARRA DE NAVEGAÇÃO 
ul.menu{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding: 0;
} /**/

/* LOGO AO LADO DA BARRADE NAVEGAÇÃO */
ul.menu{
    float: right;
    margin: 0px;

    list-style: none;
    color: #fff;
    font-weight: bold;
}/**/

ul.menu > li{
    float: left;
}

ul.menu > li > a {
    display: block;
    padding: 18px 12px; /* na altura: (54px header - 16px da fonte)/2 */

    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

ul.menu > li > a:hover {
    background-color: #87000f
}

article > p::first-letter{
    color: red;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: teal;
}

footer.rodape {
    width: 100%;

    text-align: center;
    background-color: #888;
}

/* ANOTAÇÕES 
    viewport: área visível para o usuário
*/